
header {
    height: 100px;
    box-shadow: 0 2px 5px 2px var(--light-gray);
    z-index: 1;
}

footer {
    box-shadow: 0 -2px 5px 2px var(--light-gray);
    bottom: 0;
    height: 50px;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-container {
    display: flex;
    z-index: 0;
    min-height: calc(100vh - 150px);
    nav {
        width: 300px;
    }
    #main-content {
        background-color: var(--light-gray);
        width: calc(100% - 300px);
        padding: 20px;
    }
}