<header></header>
<div id="main-container">
  <nav>
    <app-nav></app-nav>
  </nav>
  <div id="main-content">
    <router-outlet></router-outlet>
  </div>
</div>
<footer>
  <p>&copy; 2020 - BSTORM</p>
</footer>