ul {
    padding: 0;
    margin: 0;
    li {
        width: 100%;
        height: 75px;
        box-shadow: 0 2px 5px 2px var(--light-gray);
        display: flex;
        align-items: center;
        padding: 0 20px;
        font-size: 20px;
        color: gray;
        cursor: pointer;
        &:hover, &.active {
            color: white;
            background-color:darkgray;
        }
    }
}